.home-container {
  height: 90vh;
  width: 100%;
  margin: 10vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-img {
  width: 350px;
  box-shadow:  35px 35px 70px #947474,
    -35px -35px 70px #c89e9e;
}

/* mobile */

@media only screen and (min-width:300px) and (max-width:700px) {
  .todo-img {
    width: 300px;
  }
}