header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  background: rgba(91, 114, 111, 0.9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 {
  position: absolute;
  right: 47%;
}

.button-login {
  position: absolute;
  right: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #d88771;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.button-login:hover {
  background-color: #2A5D93;
  color: white;
}